<div class="container alert alert-danger">
	<h3>Todo Lists High Priority:</h3>
	<div ng-repeat="list in lc1.lists">
		<a ui-sref="list({listIndex: {{$index}}})">
			<a href="" ng-click="lc1.removeList(list)" class="glyphicon glyphicon-trash"
			   ng-class="{ 'glyphicon-folder-open': list.done, 'alert-danger': !list.done }"></a>
			<input type="checkbox" ng-model="list.done"/>
		<span ng-class="{ done: list.done}">
			<h3>{{list.name}}</h3></span>
		</a>
		<div ng-repeat="item in list.items
						| filter: {priority: 'High'}
						| filter: {done: false}">
			<h6>{{item.todoItem}}</h6>
		</div>
	</div>
	<h4>add new list: <input ng-model="lc1.listName" ng-required="true"></h4>
	<button class="btn btn-default btn-sm" ng-click="lc1.addList(lc1.listName)">Add</button>
</div>
