<div class="container alert alert-danger">
	<h3>Todo Lists High Priority:</h3>
	<div class="animate-repeat"  ng-repeat="list in lc.lists | filter: {archived: false}">
		<h3>
			<jm-trash-archive type="list"></jm-trash-archive>
			<span ng-class="{ done: list.done}">
				<a ui-sref="list({listIndex: {{list.index}}})">
					{{list.name | uppercaseFirstLetter}}
				</a>
			</span>
		</h3>
		<div ng-repeat="item in list.items
						| filter: {priority: 'High'}
						| filter: {done: false}">
			<h5>{{item.name | uppercaseFirstLetter}}</h5>
		</div>
	</div>
	<h4>add new list: <input ng-model="lc.listName" ng-required="true"></h4>
	<button class="btn btn-default btn-sm" ng-click="lc.addList(lc.listName)">Add</button>
</div>