<div class="container alert alert-success" ng-repeat="list in ic.lists | filter: {index: ic.listIndex}">

	<h3>Todo for
		<jm-editable type="list"></jm-editable>
	</h3>
	<h4>Sort By:
		<select name="sortby" id="sortby" ng-model="ic.sortBy">
			<option value="date">Date added</option>
			<option value="priority">Priority</option>
		</select>

	</h4>
	<div class="animate-repeat" ng-repeat='item in list.items
					| orderBy: ic.sortBy
					| filter: {archived: false}'>
		<jm-trash-archive type="item"></jm-trash-archive>
		<span ng-class="{ done: item.done}">
			<a href="" ng-click="ic.changePriority(item)" class="button">{{item.priority}}</a>
		<jm-editable type="item"></jm-editable>
		</span>
	</div>
	<jm-not-the-droids></jm-not-the-droids>
	<h4>add item: <input ng-model="ic.item"></h4>
	<button class="btn btn-danger btn-sm" ng-click="ic.addItem(ic.item, 'High')">High</button>
	<button class="btn btn-warning btn-sm" ng-click="ic.addItem(ic.item, 'Med')">Med</button>
	<button class="btn btn-success btn-sm" ng-click="ic.addItem(ic.item, 'Low')">Low</button>
</div>